.footer {
  margin: 100px 0;
}
.footer-container {
  border-radius: 40px;
  display: flex;
  padding: 100px;
  background-color: var(--border-dark);
}
.social {
  max-width: 530px;
}

.footer-title {
  color: var(--text-light);
}

.contacts {
  max-width: 530px;
  margin-left: 100px;
  align-self: center;
  color: var(--text-light);
}

.contacts-title {
  color: var(--text-light);
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin-top: 10px;
  margin-bottom: 40px;
}

.contacts-text,
.contacts-text > a {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  padding-bottom: 16px;
}
.contacts-text__line {
  color: var(--text-light);
  padding-left: 5px;
}

.social-icons {
  display: flex;
  color: var(--border-light);
  gap: 12px;
}

.social-icon {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.social-icon:hover {
  background: var(--main-bg-color);
}
.social-icon:hover span{
  background: var(--border-dark);
}

.social-icon span {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: var(--text-light);
}

.social-icon_twitter {
  mask: url("../../img/icons/twitter.svg")
}
.social-icon_instagram {
  mask: url("img/icons/instagram.svg")
}
.social-icon_facebook {
  mask: url("../../img/icons/facebook.svg")
}
@media (max-width: 768px) {
   .footer {
    padding: 100px 60px 90px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .contacts {
    margin: 90px 0 0;
    align-self: start;
    width: 100%;
  }
}

@media (max-width: 380px) {
 
  .footer {
    padding: 60px 16px 50px;
    margin-bottom: 40px;
  }
  .contacts {
    margin-top: 26px;
  }
}
